# This file is an example of the .env file that should be created in the root directory of the project.
# Rename this file to .env and fill in the values for the variables.

OPEN_AI_API_KEY=
DISCORD_API_KEY=
DEV_DISCORD_API_KEY=
FINNHUB_API_KEY=
PERPLEXITY_API_KEY=